body {
background-color: #FF000000; /* دي هتخلي لون الخلفية رمادي فاتح */
font-family: Arial, sans-serif; /* ده نوع الخط */
}

h1 {
color: navy; /* ده هيخلي لون العنوان (h1) كحلي */
text-align: center; /* هيخلي العنوان في نص الصفحة */
}

p {
font-size: 18px; /* هيكبر خط الفقرة (p) شوية */
color: #333; /* هيخلي لون الكلام رمادي غامق */
}

img {
display: block;
margin: auto; /* الأمرين دول عشان يخلوا الصورة في النص */
}